JpkInitApp/src/main/resources/pl/gov/mf/jpk/jpkinitapp/resources/xsd/Schemat_JPK_PKPIR(1)_v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2016/01/25/eD/DefinicjeTypy/" xmlns:kck="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyCECHKRAJOW/" xmlns:tns="http://jpk.mf.gov.pl/wzor/2016/03/09/03096/" targetNamespace="http://jpk.mf.gov.pl/wzor/2016/03/09/03096/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2016/01/25/eD/DefinicjeTypy/" schemaLocation="StrukturyDanych_v4-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyCECHKRAJOW/" schemaLocation="KodyCechKrajow_v3-0E.xsd"/>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="JPK_PKPIR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TCelZlozenia">
		<xsd:annotation>
			<xsd:documentation>Określenie celu złożenia JPK</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>złożenie JPK po raz pierwszy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek JPK_PKPIR</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="JPK_PKPIR (1)"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-0"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia" type="tns:TCelZlozenia"/>
			<xsd:element name="DataWytworzeniaJPK" type="etd:TDataCzas">
				<xsd:annotation>
					<xsd:documentation>Data i czas wytworzenia JPK_PKPIR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataOd" type="etd:TData">
				<xsd:annotation>
					<xsd:documentation>Data początkowa okresu, którego dotyczy JPK_PKPIR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataDo" type="etd:TData">
				<xsd:annotation>
					<xsd:documentation>Data końcowa okresu, którego dotyczy JPK_PKPIR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DomyslnyKodWaluty" type="kck:currCode_Type">
				<xsd:annotation>
					<xsd:documentation>Trzyliterowy kod lokalnej waluty (ISO-4217), domyślny dla wytworzonego JPK_PKPIR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KodUrzedu" type="etd:TKodUS"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TKwotowy">
		<xsd:annotation>
			<xsd:documentation>Wartość numeryczna 18 znaków max, w tym 2 znaki po przecinku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNaturalnyJPK">
		<xsd:annotation>
			<xsd:documentation>Liczby naturalne większe od zera</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TNaturalny">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TZnakowyJPK">
		<xsd:annotation>
			<xsd:documentation>Typ znakowy ograniczony do 256 znaków</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="JPK">
		<xsd:annotation>
			<xsd:documentation>Jednolity plik kontrolny dla podatkowej księgi przychodów i rozchodów</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="tns:TNaglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek JPK_PKPIR</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IdentyfikatorPodmiotu" type="etd:TIdentyfikatorOsobyNiefizycznej">
								<xsd:annotation>
									<xsd:documentation>Dane identyfikujące podmiot</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AdresPodmiotu" type="etd:TAdresPolski">
								<xsd:annotation>
									<xsd:documentation>Adres podmiotu</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PKPIRInfo">
					<xsd:annotation>
						<xsd:documentation>Dane dotyczące ustalenia dochodu w roku podatkowym</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="P_1" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wartość spisu z natury na początek roku podatkowego</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_2" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wartość spisu z natury na koniec roku podatkowego</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_3" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Razem koszty uzyskania przychodu, wg objaśnień do podatkowej księgi przychodów i rozchodów</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_4" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Dochód osiągnięty w roku podatkowym, wg objaśnień do podatkowej księgi przychodów i rozchodów</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:element name="P_5A" type="etd:TData">
									<xsd:annotation>
										<xsd:documentation>Data spisu z natury sporządzonego w ciągu roku podatkowego</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_5B" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Wartość spisu z natury sporządzonego w ciągu roku podatkowego</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PKPIRWiersz" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Na podstawie załącznika do rozporządzenia Ministra Finansów z dnia 26 sierpnia 2003 r. w sprawie prowadzenia podatkowej księgi przychodów i rozchodów (Dz. U. z 2014 r. poz. 1037)</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="K_1" type="tns:TNaturalnyJPK">
								<xsd:annotation>
									<xsd:documentation>Lp.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_2" type="etd:TData">
								<xsd:annotation>
									<xsd:documentation>Data zdarzenia gospodarczego</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_3" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Nr dowodu księgowego</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_4" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Kontrahent - imię i nazwisko (firma)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_5" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Kontrahent- adres</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_6" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Opis zdarzenia gospodarczego</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_7" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Przychód - wartość sprzedanych towarów i usług</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_8" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Przychód - pozostałe przychody</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_9" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Przychód - razem przychód (7+8)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_10" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Zakup towarów handlowych i materiałów wg cen zakupu</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_11" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Koszty uboczne zakupu</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_12" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wydatki (koszty) - wynagrodzenia w gotówce i w naturze</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_13" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wydatki (koszty) - pozostałe wydatki</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_14" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wydatki (koszty) - razem wydatki (12+13)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_15" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wydatki (koszty) - pole wolne</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_16" type="tns:TZnakowyJPK" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Uwagi</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="typ" use="required" fixed="G"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PKPIRCtrl">
					<xsd:annotation>
						<xsd:documentation>Sumy kontrolne dla tabeli PKPIRWiersz</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LiczbaWierszy" type="tns:TNaturalnyJPK">
								<xsd:annotation>
									<xsd:documentation>Liczba wierszy (zapisów) PKPIR, w okresie którego dotyczy JPK_PKPIR</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SumaPrzychodow" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Łączna wartość przychodów razem (kol. 9) w PKPIR w okresie, którego dotyczy JPK_PKPIR</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
